<% include('../layouts/header.ejs') %>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="/adminAsset/vendor/src/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="/adminAsset/vendor/src/assets/css/styles.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">

</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="#" class="logo">
            <img src="/asset/vendor/images/icons/logo-01.png" alt="IMG-LOGO" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link active" href="dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
          
            <li class="sidebar-item">
              <a class="sidebar-link" href="userDetails" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">User Details</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="productDetails" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu">Product Details</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="category" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Category</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/orders" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Orders</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/offer" aria-expanded="false">
                <span>
                  <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">Offers</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/coupon" aria-expanded="false">
                <span>
                  <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">Coupon</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/discount" aria-expanded="false">
                <span>
                  <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">Discount</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">AUTH</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Logout</span>
              </a>
            </li>
        
          
          
          
          </ul>

        </nav>
      </div>
    
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="/adminAsset/vendor/src/assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <a href="./authentication-login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
       
<script>
  //========================================
</script>
<div class="d-flex">
              <div class="col-lg-12" style="width: 250px;">
                <div class="card overflow-hidden">
                  <div class="card-body p-4" >
                    <h5 class="card-title mb-9 fw-semibold">Overall order amount </h5>
                    <div class="row align-items-center">
                      <div class="col-8">
                        <h4 class="fw-semibold mb-3">&#8377;<%= totalAmount %></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12" style="width: 250px;">
                <div class="card overflow-hidden">
                  <div class="card-body p-4" >
                    <h5 class="card-title mb-9 fw-semibold">Overall orders   </h5>
                    <div class="row align-items-center">
                      <div class="col-8">
                        <h4 class="fw-semibold mb-3"><%= countoforders %></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12" style="width: 250px;">
                <div class="card overflow-hidden">
                  <div class="card-body p-4" >
                    <h5 class="card-title mb-9 fw-semibold">Overall discount   </h5>
                    <div class="row align-items-center">
                      <div class="col-8">
                        <h4 class="fw-semibold mb-3"><%= totalDiscount %></h4>
                         </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              

              <div class="row">
                <div class="col-lg-8 d-flex align-items-strech">
                  <div class="card w-100">
              <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                  <div class="mb-3 mb-sm-0">
                    <h5 class="card-title fw-semibold">Brand sales</h5>
                  </div>
                </div>
                <div id="chartbrand"></div>
              </div>
            </div>
          </div>
          </div>


               <div class="row">
                <div class="col-lg-8 d-flex align-items-strech">
                  <div class="card w-100">
              <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                  <div class="mb-3 mb-sm-0">
                    <h5 class="card-title fw-semibold">Sales Overview</h5>
                  </div>
                  <div class="button d-flex justify-content-between">
                    <button class="btn btn-success" id="daily">Daily</button>
                    <button class="btn btn-success" id="weekly">Weekly</button>
                    <button class="btn btn-success" id="monthly">Monthly</button>
                    <button class="btn btn-success" id="yearly">Yearly</button>

                </div>
                </div>
                <br>
                <div class="d-flex justify-content-end">
                  <label for="start">Start date:</label>
                  <input type="date" id="Start" name="trip-Start"  class="form-control" value="2024-04-20" min="2020-04-20" max="2034-04-20">
                  <label for="end">End date:</label>
                  <input type="date" id="End" name="trip-End"  class="form-control" value="2024-04-20" min="2020-04-20" max="2034-04-20">
                  <button class="btn btn-primary" id="Submitbtn">Submit</button>
              </div>
              <script>
                document.getElementById('Submitbtn').addEventListener('click', function() {
                    var endDate = new Date(document.getElementById('End').value);
                    var currentDate = new Date();
                    
                    if (endDate > currentDate) {
                        alert('End date cannot be greater than the current date');
                    }
                });
            </script>
            
                <div id="chart"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-12">
                <!-- Yearly Breakup -->
                <div class="card overflow-hidden">
                  <div class="card-body p-4">
                    <h5 class="card-title mb-9 fw-semibold">Payment Methods</h5>
                    <div class="row align-items-center">
                      <div class="col-8">
                        <h4 class="fw-semibold mb-3"></h4>
                        <div class="d-flex align-items-center mb-3">
                       
                  
                        </div>
                        <div class=" align-items-center">
                          <div class="me-4">
                            <span class="round-8  rounded-circle me-2 d-inline-block" style="background-color:#000000;"></span>
                            <span class="fs-2">Pending</span>
                          </div>
                          <div>
                            <span class="round-8  rounded-circle me-2 d-inline-block" style="background-color:#00329d;"></span>
                            <span class="fs-2">Shipped</span>
                          </div>
                          <div>
                            <span class="round-8  rounded-circle me-2 d-inline-block" style="background-color:#0000ff"></span>
                            <span class="fs-2">Delivered</span>
                          </div>
                          <div>
                            <span class="round-8  rounded-circle me-2 d-inline-block" style="background-color:#6868ff"></span>
                            <span class="fs-2">Cancelled</span>
                          </div>
                          <div>
                            <span class="round-8  rounded-circle me-2 d-inline-block" style="background-color:#a8a8fd"></span>
                            <span class="fs-2">Returned</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="d-flex justify-content-center">
                          <div id="breakup"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
       


          <div class="col-lg-8 d-flex align-items-stretch" style="width: 1000px;">
            <div class="card w-100" >
              <div class="card-body p-4" >
              <h2 class="text-center">Sales Report</h2>
              <br>
              <div class="button d-flex justify-content-around">
                <button class="btn btn-success" id="Daily">Daily</button>
                <button class="btn btn-success" id="Weekly">Weekly</button>
                <button class="btn btn-success" id="Monthly">Monthly</button>
            </div>
                <br>
                <div class="d-flex justify-content-end">
                  <label for="start">Start date:</label><br>
                  <input type="date" id="start" name="trip-start" class="form-control" value="2024-04-20" min="2020-04-20" max="2034-04-20" >
                  <br>
                  <label for="end">End date:</label><br>
                  <input type="date" id="end" name="trip-end" class="form-control" value="2024-04-20" min="2020-04-20" max="2034-04-20" >
                  <br>
                  <button class="btn btn-primary" id="submitBtn" onclick="checkDates()">Submit</button>
              </div>
              <br>
              <div class="d-flex justify-content-end">
                <button class="btn btn-danger padding-left:500px" id="download" onclick="download()">Download Pdf</button>
                <button class="btn btn-danger padding-left:520px" id="downloadcsv" onclick="downloadcsv()">Download Excel</button>

                
              </div>
          
              <br>         
              <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle" id="table">
                  <thead class="text-dark fs-4">
                    <tr>
                      <th class="border-bottom-0 p-16">
                        <h6 class="fw-semibold mb-0">Sl No</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Client Name</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">OrderId</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Product Name</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">discount</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">coupon deduction</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Payment</h6>
                      </th>
                    </tr>
                  </thead>
                  <tbody id="tableBody">
              <script>
                //======================== custom date range=======================
                document.getElementById('submitBtn').addEventListener('click',function(){
                  var startDate = new Date(document.getElementById("start").value);
                  var endDate = new Date(document.getElementById("end").value);
                  console.log(startDate)
                  console.log(endDate)

                    const currentDate = new Date();
                
                    if (startDate > currentDate) {
                        alert("Start date exceeds the current date");
                        return
                    }
                
                    if (endDate > currentDate) {
                        alert("End date exceeds the current date");
                        return
                    }

                  fetch('/customDate',{
                    method:'POST',
                    headers: {
                            'Content-Type': 'application/json'
                               },
                  body: JSON.stringify({startDate: startDate, endDate: endDate})
                  })
                  .then((response)=>{
                   console.log(response) 
                   if (!response.ok) {
                    Swal.fire({
                    title: 'Error!',
                    text: 'The date exceed the current date .',
                    icon: 'error',
                    showConfirmButton: false,
                    timer: 1500
                });                     
              }
                 return response.json();                 
                 })
                   .then((data)=>{
                  console.log(data)
                  populateTable(data);
                   })
                   .catch((error)=>{
                     console.log(error)
                   })
                })

                function populateTable(data) {
        var htmlContent = '';
        data.customOrders.forEach((order, index) => {
            htmlContent += `
                <tr>
                    <td class="border-bottom-0"><h6 class="fw-semibold mb-0">${index + 1}</h6></td>
                    <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-1">${order.userId.name}</h6>
                    </td>
                    <td class="border-bottom-0">
                        <p class="mb-0 fw-normal">${order._id}</p>
                    </td>
                    
                    <td class="border-bottom-0">
                        <p class="mb-0 fw-normal">${order.products[0].productId.productName }</p>
                    </td>
                    <td class="border-bottom-0">
                        <p class="mb-0 fw-normal">${order.products[0].productId.discount[0].discountPrice }</p>
                    </td>
                  
                    <td class="border-bottom-0">
                        <p class="mb-0 fw-normal">${order.products[0].productId.productPrice-order.couponprice}</p>
                    </td>
                    <td class="border-bottom-0">
                        <p class="mb-0 fw-normal">${order.payment[0]}</p>
                    </td>

                </tr>`;
        });

        document.getElementById('tableBody').innerHTML = htmlContent;
    }
              </script>
             
            </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <script>
            //========================Daily sales report==================
           document.getElementById('Daily').addEventListener('click',function(){


            fetch('/reportDailyOverview', {
      method: 'GET'
    })        
    .then(response => response.json())
    .then(data => {
      console.log(data)
      populateTable(data);
      })
      .catch((error)=>{
        console.log(error)
      })

    })
          </script>
          <script>
               document.getElementById('Weekly').addEventListener('click',function(){


              fetch('/reportWeeklyOverview', {
              method: 'GET'
              })        
              .then(response => response.json())
              .then(data => {
              console.log(data)
              populateTable(data);
              })
              .catch((error)=>{
              console.log(error)
              })

              })
          </script>
           <script>
           document.getElementById('Monthly').addEventListener('click',function(){
       
       
       fetch('/reportMonthlyOverview', {
       method: 'GET'
       })        
       .then(response => response.json())
       .then(data => {
       console.log(data)
       populateTable(data);
       })
       .catch((error)=>{
       console.log(error)
       })
       
       })
         </script>
         <div class="col-lg-8 d-flex align-items-stretch" style="width: 1000px;">
          <div class="card w-100" >
            <div class="card-body p-4" >
              <style>
                /* Table header */
                th {
                    background-color: #f2f2f2;
                    text-align: center;
                    padding: 10px;
                    border: 1px solid #ddd;
                }
            
                /* Table data */
                td {
                    padding: 10px;
                    border: 1px solid #ddd;
                }
            
                /* Border-bottom-0 class */
                .border-bottom-0 {
                    border-bottom: 0;
                }
            
                /* Padding for the first column */
                .padding-left-40 {
                    padding-left: 40px;
                }
            
                /* Font style for table content */
                .fw-semibold {
                    font-weight: bold;
                }
            
                .mb-0 {
                    margin-bottom: 0;
                }
            
                .p-16 {
                    padding: 16px;
                }
            </style>
            
            <table >
                <thead>
                    <tr>
                        <th class="fw-semibold mb-0 p-16" style="width: 300px;">Best Selling Products</th>
                        <th class="fw-semibold mb-0 p-16" style="width: 300px;">Best Selling Categories</th>
                        <th class="fw-semibold mb-0 p-16" style="width: 300px;">Best Selling Brands</th>
                    </tr>
                </thead>
                <tbody style="padding-top: 50px;">
                    <tr class="border-bottom-0">
                        <td>
                            <div class="border-bottom-0 padding-left-40">
                                <% topSellingProducts.forEach(topSellingProduct => { %>
                                <% topSellingProduct.productDetails.forEach(product => { %>
                                <h6 class="fw-semibold mb-0 p-16"><%= product.productName %></h6>
                                <% }); %>
                                <% }); %>
                            </div>
                        </td>
                        <td>
                            <div class="border-bottom-0 padding-left-40">
                                <% 
                                const displayedCategories = new Set(); // Use a Set to keep track of displayed categories
                                topSellingProducts.forEach(topSellingProduct => {
                                const category = topSellingProduct.productDetails[0].productCategory; // Get the category of the first product
                                if (!displayedCategories.has(category)) { // Check if the category has already been displayed
                                displayedCategories.add(category); // Add the category to the Set to mark it as displayed
                                %>
                                <h6 class="fw-semibold mb-0 p-16"><%= category %></h6> <!-- Display the category -->
                                <% 
                                }
                                }); 
                                %>
                            </div>
                        </td>
                        <td>
                            <div class="border-bottom-0 padding-left-40">
                                <% 
                                const displayedCategorie = new Set(); // Use a Set to keep track of displayed categories
                                topSellingProducts.forEach(topSellingProduct => {
                                const category = topSellingProduct.productDetails[0].productCategory; // Get the category of the first product
                                if (!displayedCategorie.has(category)) { // Check if the category has already been displayed
                                displayedCategorie.add(category); // Add the category to the Set to mark it as displayed
                                %>
                                <h6 class="fw-semibold mb-0 p-16"><%= category %></h6> <!-- Display the category -->
                                <% 
                                }
                                }); 
                                %>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
      </div>
      </div>
      </div>
      
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">AdminMart.com</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a></p>
        </div>
      </div>
    </div>
  </div>

  <script>

    //==============================download report==============

    function download() {
      const start = document.getElementById('start').value;
      const end = document.getElementById('end').value;
  
      const currentDate = new Date();
      currentDate.setHours(23, 59, 59, 999);
  
      const startDate = new Date(start);
      const endDate = new Date(end);
  
      if (start && end && startDate <= currentDate && endDate <= currentDate && startDate <= endDate) {
        console.log("Start date:", start);
        console.log("End date:", end);
        const data = { start, end };
  
        fetch('/dashboarddownloadpdfreport', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
          .then(response => {
            if (response.ok) {
              return response.json(); 
            } else {
              throw new Error('Failed to generate sales report');
            }
          })
          .then(data => {
            let orders = data.orders;
            console.log('Received orders:', orders);
  
            const doc = new window.jspdf.jsPDF('a4');

            const columns = ['Sl No','orderid', 'Client Name', 'product qunatity', 'discount','Payment'];

            if (orders.length === 0) {
              doc.autoTable({
                head: [columns],
                body: [],
              });
              doc.text("No sales in this time period", 105, 70, { align: "center" });
             
            } else {
              const rows = orders.map(order => {
                let sample = new Date(order.createdAt)
                return [
                      sample.toLocaleDateString(),
                      order._id,
                      order.userId.name,
                      order.products.map(product => product.productId.productName).join(', '),
                      isNaN(order.products.reduce((acc, curr) => acc + curr.Quantity, 0)) ? 'NaN' : order.products.reduce((acc, curr) => acc + curr.Quantity, 0),
                      order.payment,
                  ];

              });

  
              doc.autoTable({
                head: [columns],
                body: rows,
              });
              const summary = `Summary:\n\nDuring the period from ${start} to ${end}, a total of ${orders.length} orders were placed.\n\nThe total quantity of items ordered was ${orders.reduce((acc, curr) => acc + (isNaN(curr.products.reduce((acc, curr) => acc + curr.Quantity, 0)) ? 0 : curr.products.reduce((acc, curr) => acc + curr.Quantity, 0)), 0)}.`;

              doc.setFontSize(12);
              doc.text(summary, 14, doc.autoTable.previous.finalY + 10);
  
              // Save the PDF
              doc.save('sales_report.pdf');
            }
          })
          .catch(error => {
            console.error('Error:', error.message);
          });
      } else {
        if (!start || !end) {
          Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Please select both start and end dates."
                  });
        } else if (start > end) {
          Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "End date should be greater than or equal to the start date."
                  });
        } else if (startDate > currentDate) {
          Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Start date cannot be greater than the current date."
                  });
        } else {
          Swal.fire({
                    icon: "error",
                    title: "Oops...",  
                    text: "Invalid date range. Please select a valid range."
                  });
        }
      }
    }
    
  </script>

<script>
  function downloadcsv() {
    const start = document.getElementById('start').value;
      const end = document.getElementById('end').value;

      const currentDate = new Date();
      currentDate.setHours(23, 59, 59, 999);

      const startDate = new Date(start);
      const endDate = new Date(end);

      if (start && end && startDate <= currentDate && endDate <= currentDate && startDate <= endDate) {
        console.log("Start date:", start);
        console.log("End date:", end);
        const data = { start, end };

      fetch('/dashboarddownloadexcelreport', {
          method: 'post',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
      }).then(response => {
          return response.json();
      }).then(data => {

          if (data.message) {
              const orders = data.orders;
              Swal.fire({
                  position: "center",
                  icon: "success",
                  title: data.message,
                  showConfirmButton: false,
                  timer: 2200
              });
          } else {
              Swal.fire({
                  position: "center",
                  icon: "success",
                  title: data.message,
                  showConfirmButton: false,
                  timer: 1500
              });
          }

          if (data.orders) {
            console.log('Received orders:',data. orders);


            const csvContent = 'Sl No,orderid,Client Name,Product Name,Discount,Payment\n' +
            data.orders.map((orders, index) => {
              const productNameList = orders.products.map(product => product.productId.productName).join(', ');
              const discount = isNaN(orders.products.reduce((acc, curr) => acc + curr.Quantity, 0)) ? 'NaN' : orders.products.reduce((acc, curr) => acc + curr.Quantity, 0);
              const discountPrice = orders.products.reduce((totalDiscount, product) => {
                if (product.productId.discount && product.productId.discount.length > 0) {
                  totalDiscount += product.productId.discount[0].discountPrice;
                }
                return totalDiscount;
              }, 0);

              return `${index + 1},${orders._id},${orders.userId.name},"${productNameList}",${discountPrice},${orders.payment}`;
            }).join('\n');


              // Create a Blob and set it as the href of an anchor tag
              const blob = new Blob([csvContent], { type: 'text/csv' });
              const url = URL.createObjectURL(blob);

              const a = document.createElement('a');
              a.href = url;
              a.download = 'sales_data.csv'; // Specify the filename
              document.body.appendChild(a);

              // Trigger a click on the anchor tag to start the download
              a.click();

              // Remove the anchor tag from the DOM
              document.body.removeChild(a);
          } else {
              console.log('No salesOrders data available.');
          }
      }).catch(error => {
          console.log(error);
      });
    }
  }
</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="/adminAsset/vendor/src/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/adminAsset/vendor/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/adminAsset/vendor/src/assets/js/sidebarmenu.js"></script>
  <script src="/adminAsset/vendor/src/assets/js/app.min.js"></script>
  <script src="/adminAsset/vendor/src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/adminAsset/vendor/src/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/adminAsset/vendor/src/assets/js/dashboard.js"></script>
  <script src="path/to/jquery.min.js"></script>
  <script src="path/to/apexcharts.min.js"></script>
  <script src="path/to/dashboard.js"></script> 
 
</body>

<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>


<script type="text/javascript" charset="utf8"
src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function () {
  $('#table').DataTable();
});
</script>

<% include('../layouts/footer.ejs') %>

